<nav class="navbar nav_color">
  <a class="navbar-brand">
    <img
      src="https://images.pexels.com/photos/37337/cat-silhouette-cats-silhouette-cat-s-eyes.jpg?cs=srgb&dl=pexels-pixabay-37337.jpg&fm=jpg"
      width="100"
      height="70"
      class="d-inline-block align-top"
      alt=""
    />
    
  </a>

  <a> <a>
    <div class="col-12">
      <h1 class="text-light">{{ title }}</h1>
    </div></a
  ></a>
  <a>
    <button
      class="button"
      routerLink="/registration-form"
    >
      formulario
    </button>
  .
 <button class="button" routerLink="/users">
      Registros
    </button></a
  >
</nav>

<router-outlet></router-outlet>
